.html, body {
    margin: 0;
    padding: 100px 540px
}

.square{
    background-color: red;
    width: 10px;
    height: 10px;
    position: absolute;
}

.contain{
    width: 400px;
    height: 400px;
    background-color: pink;
    position: relative; 
}

.food{
    background-color: rgba(0, 0, 0, 0.945);
    width: 10px;
    height: 10px;
    position: absolute;
}

h2{
    text-align: center;
}

/* .score {
    border-style: solid;
    border-color: green;
    margin-bottom: 50px;
    
} */